.lessonWrap {
	width: 100%;
	color: #211f1f;
	font-size: 16px;
}
.title {
	margin-bottom: 30px;
}
.lessonWrap li {
	display: inline-block;
	margin-right: 30px;
}
.lesson {
	border: 1px solid #ccc;
	position: relative;
	display: inline-block;
	width: 300px;
}
.imgWrap {
	width: 300px;
	height: 225px;
	margin: 0 auto;
	overflow: hidden;
	background: url(./image/picture.jpg) no-repeat;
	background-size: 300px;
}
.mask {
	z-index: 2;
	background: #000;
	opacity: 0.6;
	position: absolute;
	top: 160px;
	right: 0;
	left: 0;
	bottom: 0;
}
.subtitle {
	font-size: 16px;
    line-height: 1.6;
    z-index: 3;
    position: absolute;
    top: 50%;
    padding: 0 0.7rem;
    text-align: left;
    transform: translateY(-50%);
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.link {
	color: #fff;
}
.link:hover {
	color: #108ee9;
}
.handleWrap {
	text-align: center;
	margin: 20px;
}
